<div class="row justify-content-center">
    <div class="col-auto">
        <div class="card border-0 shadow">
            <div class="card-body">
                <h1 class="card-title">Administration des actualités</h1>
                <p class="card-text">Bienvenue sur l’interface d’administration des actualités.</p>
                <p class="card-text">Vous devez vous connecter pour continuer.</p>
                <a (click)="login()" class="btn btn-primary">Connexion</a>
            </div>
        </div>
    </div>
</div>
