<div class="row">
    <div class="col col-lg-6">
        <div [class.placeholder-glow]="loading$ | async" class="card border-0 shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <div [class.placeholder]="loading$ | async" class="ratio ratio-1x1">
                            <img *ngIf="source && source.pictureUrl" [attr.src]="source.pictureUrl | secure | async" alt="">
                        </div>
                    </div>

                    <div class="col-10">
                        <h2 [ngClass]="{'placeholder w-50': loading$ | async}" class="card-title">
                            <ng-container *ngIf="source">{{ source.title }}</ng-container>
                        </h2>

                        <p class="card-text">Identifier = {{ source?.id }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
